{% extends 'basefront.html.twig' %}


{% block content %}
<br>
<br>

<section class="h-100 bg-dark">
                   <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row ">
            <div class="col-xl-6 d-none d-xl-block">
               <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .20rem; border-bottom-left-radius: .20rem; height: 1000px"
              />
            </div>
          
               <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
              <h3 class="modal-title" id="myModalLabel">
                N'attendez pas, Inscrivez vous dès maintenant  !</h3>
                <br>
                          
                            <ul>
                            <div class="row align-self-center">
                              <h1>  <a <li class="resp-tab-item " aria-controls="tab_item-1">Sign up </li> </h1>
                            </div>
                            </ul>
                            
    {{ form_start(registrationForm, {attr: {novalidate: 'novalidate'}}) }}
     <div class="row">
                             <div class="col-md-6 mb-4">
                                 <div class="form-outline ">
                                    {{ form_label(registrationForm.nom, 'Nom d\'utilisateur') }}
                                    {{form_widget(registrationForm.nom ,{'attr':{class: 'form-control','placeholder': ' Votre Nom ... '}})}}
                                    {{ form_errors(registrationForm.nom, {'attr':{class: 'text-danger'}}) }}
 </div></div>
 <div class="col-md-6 mb-4">
                                 <div class="form-outline ">
                                    {{ form_label(registrationForm.prenom, 'Prenom') }}
                                    {{form_widget(registrationForm.prenom ,{'attr':{class: 'form-control','placeholder': ' Votre Prenom ... '}})}}
                                   {{ form_errors(registrationForm.prenom, {'attr':{class: 'text-danger'}}) }}
                                     </div>
                                </div>
                           </div>
 <div class="form-outline mb-4">
                                    {{ form_label(registrationForm.email, 'Email') }}
                                    {{form_widget(registrationForm.email ,{'attr':{class: 'form-control','placeholder': ' Votre Email ... '}})}}
                              {{ form_errors(registrationForm.email, {'attr':{class: 'text-danger'}}) }}
                                </div>
<div class="row">
                             <div class="col-md-6 mb-4">
                                 <div class="form-outline">
                                    {{ form_label(registrationForm.password, 'Mot de passe') }}
                                    {{form_widget(registrationForm.password ,{'attr':{class: 'form-control','placeholder': 'Mot de passe ... '}})}}
                                    {{ form_errors(registrationForm.password, {'attr':{class: 'text-danger'}}) }}
                                </div></div>

  <div class="col-md-6 mb-4">
                                 <div class="form-outline">
                                     {{ form_label(registrationForm.confirm_password, 'Confirmer Mot de passe') }}
                                    {{form_widget(registrationForm.confirm_password ,{'attr':{class: 'form-control','placeholder': 'Répéter votre mot de passe'}})}}
                                    {{ form_errors(registrationForm.confirm_password, {'attr':{class: 'text-danger'}}) }}
                                     </div>
                                </div>
                           </div>
      
        <div class="form-outline mb-4">
                                    {{ form_label(registrationForm.telf, 'Telephone') }}
                                    {{form_widget(registrationForm.telf ,{'attr':{class: 'form-control','placeholder': 'Votre numero'}})}}
                                  {{ form_errors(registrationForm.telf, {'attr':{class: 'text-danger'}}) }}
                                </div>
                                <div class="col-12"><br>
                                                {{ form_row(registrationForm.image) }}
                                                {{ form_widget(registrationForm.image) }}
                                                
                                            </div>
                  <div class="col-12">
                  {{ form_row(registrationForm.captchaCode) }}
                  </div>
                                            <br>
                                             <button type="submit" class="btn btn-info btn-lg btn-block "style="text-align:center;">S'inscrire</button>
<br>
<br>

                                       <p> Do you have an account? <a href="{{ path('app_login') }}" class="link-info">Login here</a> </p> 

    {{ form_end(registrationForm) }}
          </div>
                    </div>
                    
                    
                    
                   </div>
            </div> 
                </div>
            </div>
            </div>
            </div>
          </div>
          
</section>


</body>

{% endblock %}
