{% extends 'basefront.html.twig' %}


{% block content1 %}
    <br>
    <br>
    <br>

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    Bienvenue dans palais des miles saveurs </h4>
            </div>
            <div class="modal-body modal-body-sub">
                <div class="row">
                    <div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
                        <div class="sap_tabs">
                            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">


                                <div class="facts">
                                    <div class="register">
                                        {{ form_start(emailForm, {attr: {novalidate: 'novalidate'}}) }}
                                       <br>
                                        <div class="row">
                                            <div class="col-12">
                                                {{ form_row(emailForm.email, {  'attr':{'placeholder': 'email'}}) }}
                                                {{ form_widget(emailForm.email) }}
                                                {{ form_errors(emailForm.email, {'attr':{class: 'text-danger'}}) }}


                                            </div>


                                        </div>




                                        <input type="submit" value="Envoyer"/>
                                        {{ form_end(emailForm) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#horizontalTab').easyResponsiveTabs({
                                    type: 'default', //Types: default, vertical, accordion
                                    width: 'auto', //auto or any width like 600px
                                    fit: true   // 100% fit in a container
                                });
                            });
                        </script>
                        <div id="OR" class="hidden-xs">
                            =</div>
                    </div>
                    <div>
                        <img alt="image" src="{{ asset('uploads/h.png') }}" width="250" height="300"/>

                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}




