{% extends 'base.html.twig' %}


    {% block content %}




            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Ajouter un Partenaire</h6>
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success" > 
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {{form_start(form) }} 
                                <div class="mb-3">
                                    <label  class="form-label" >Matricule du Stock</label>
                                    {{form_widget(form.matriculep ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(form.matriculep ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label  class="form-label">Nom de la marque</label>
                                    {{form_widget(form.nommarquep ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(form.nommarquep ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label" >Nom Partenaire</label>
                                {{form_widget(form.nomp ,{'attr':{class: 'form-control'}})}}
                                {{form_errors(form.nomp ,{'attr':{class: 'text-danger'}})}}

                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Prénom Partenaire</label>
                                    {{form_widget(form.prenomp ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(form.prenomp ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Mail Partenaire</label>
                                    {{form_widget(form.mailp ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(form.mailp ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Categorie Partenaire</label>
                                    {{form_widget(form.categoriep ,{'attr':{class: 'form-control'}})}}
                              
                                    
                                </div>

                              

                                 <div class="mb-3">
                                    <label for="formFile" class="form-label">image</label>
                                    {{form_widget(form.image ,{'attr':{ type: 'file', class: 'form-control'}})}}
                                </div>

                                <br>

                                  

                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            {{form_end(form) }} 
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>

    {% endblock %}


