{% extends 'base.html.twig' %}

{% block content %}

        <div class="container">

    <link href=" https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href=" https://code.jquery.com/jquery-3.5.1.js" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

            <div class="title"><strong>List des évenement</strong></div>

            </br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                    <script src="{{ asset('back/js/jquery.min.js') }}"></script>
                    <input type="text" id="search" class="form-control" placeholder="Look for a Product">
                </div>



            </div>
            </br>

            <div class="col-lg-50">
            <div class="card">

                        {% for message in app.flashes('notice') %}
                                <div class="alert alert-success" >
                                    {{ message }}
                                </div>
                            {% endfor %}
                      <div class="card-body">




            <div class="table-responsive">


                <table id="tableac" class="table  table-hover table-bordered">

                    <thead class="badge-info">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Duree</th>
                <th>NombrePlace</th>
                <th>lieu</th>
                <th>longitude</th>
                <th>lattitude</th>

                <th>start</th>
                <th>end</th>
                <th>Image</th>
                <th>supprimer</th>
                <th>modifier</th>

            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.duree }}</td>
                <td>{{ evenement.nombrePlace }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.lon }}</td>
                <td>{{ evenement.lat}}</td>

                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.end ? evenement.end|date('Y-m-d') : '' }}</td>
                <td> <img src="{{ asset('uploads/' ~ evenement.image2) }} "> </td>

    <td> <a   href="{{path('dellclass12',{'id':evenement.id })}}"><button type="button" class="btn btn-outline-danger  w-100 p-2" class="btn badge-info"><i class="fa fa-trash-o" aria-hidden="true"></i> </button>  </a></td>

                   <td><a   href="{{path('app_evenement_edit',{'id':evenement.id })}}"><button type="button" class="btn btn-outline-info  w-100 p-2 " class="btn badge-info"><i class="fa fa-pencil" aria-hidden="true"></i> </button> </a></td>
                </td>


      </tr>

    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>
{% endfor %}

 </tbody>
                </table>
           <br>
                <a class="btn btn-primary" href="{{path('listU')}}" role="button">pdf</a>
                {{ knp_pagination_render(evenements) }}
            </div>


    </div>
            </div>

{% endblock %}
