
{% extends 'base.html.twig' %}


{% block content %}
<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Ajouter Livreur</h6>
                           
                            {{form_start(formL,{'attr':{novalidate: 'form-control'}})}} 
                                <div class="mb-3">
                                    <label  class="form-label">NOM</label>
                                    {{form_widget(formL.nomlivreur ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(formL.nomlivreur)}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label  class="form-label">Prenom</label>
                                    {{form_widget(formL.prenomlivreur ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(formL.prenomlivreur)}}
                                </div>

                                <div class="mb-3">
                                    <label for="Date" class="form-label">Email </label>
                                {{form_widget(formL.email ,{'attr':{class: 'form-control'}})}}
                                 {{form_errors(formL.email)}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Password</label>
                                  
                                    {{form_widget(formL.password ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(formL.password)}}
                                </div>

                                

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Telephone</label>
                                    {{form_widget(formL.telf ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(formL.telf)}}
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Photo</label>
                                    {{form_widget(formL.image ,{'attr':{class: 'form-control'}})}}
                                     
                                </div>

                                
                              

                                

                                

                                
                                
                                <br>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            {{form_end(formL) }} 
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>


{% endblock %}
