<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% block CSS %}
        <!-- Favicon -->

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ asset('backend-office/lib/owlcarousel/assets/owl.carousel.min.css') }} " rel="stylesheet">
        <link href="{{asset('backend-office/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}} " rel="stylesheet" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{asset('backend-office/css/bootstrap.min.css')}} " rel="stylesheet">
        

        <!-- Template Stylesheet -->
        <link href="{{asset('backend-office/css/style.css')}}" rel="stylesheet">
    {% endblock %}
</head>

<body>
        <!-- Spinner Start -->


            <div class="content">

                <!-- Sale & Revenue Start -->
                {% block content %} 


                
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                      
                    
                       <img src="{{asset('/public/uploads/logo.png') }}" />
                            <h1 class="mb-4" align="center"><FONT color="deeppink">Table récapitulant tout les stocks </h1>
                            
                            <table class="table table-bordered", border="3" align="center" bgcolor="#87CEFA"> >

              
    </thead>
                                <thead>
   
                                    <tr>
                                  
										
                                        <th scope="col">Nom Stock</th>
                                       
                                        <th scope="col">Réference</th>
                                       
                                        <th scope="col"> Categorie</th>
                                     
                                        <th scope="col"> Quantite</th>
                                        
                                         <th scope="col"> Date</th>
                                       
                                        <th scope="col">Qualite</th>
                                        
                                        <th scope="col">Partenaire</th>
                                        <td></td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                               
                                    {% for data in affiche %}

                                    <tr>
                                    <td> {{ data.nomS }} </td>
                                   
                                    <td> {{ data.refS }} </td>
                                   
                                    <td> {{ data.categorieS}} </td>
                                    
                                    <td> {{ data.qteS}} </td>
                                    
                                   <td> {{ data.dateS| date('d-m-Y')}}</td>
                                   
                                    <td> {{ data.qualiteS  }} </td>
                                    
                                    <td> {{ data.partenaire.nomMarqueP }} </td>
                                    <td></td>
                               
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                {% endblock %}
                
                <!-- Footer End -->
            </div>
        <!-- Content End -->


        <!-- Back to Top -->


    <!-- JavaScript Libraries -->
    
 
    
</body>

</html>