{% extends 'basefront.html.twig' %}


{% block content2 %}
<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{{ path('listC') }}">
					<img src="{{asset ('front/images/logo.png')}}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="{{ path('listC') }}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="menu.html">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
						
 
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Categories</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
							{# {% for compteur in listC %}
								<a class="dropdown-item" href="{{path('afficheP',{'id':compteur.id })}}">{{compteur.NOM}}</a>
								{% endfor %} #}
							</div>
						</li>


						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="blog.html">blog</a>
								<a class="dropdown-item" href="blog-details.html">blog Single</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
<div class="section checkout">
	    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading_s1">
                        <h4>Votre adresse de livraison</h4>
                        {# <div class="content" id="address">
                            {{ address | replace({'[spr]' : '<br>'}) | raw}}
                             <a href="{{ path('address_edit',{'id': address.id})}}" class="btn btn-fill-out mt-1">Editer l'adresse</a>
                            <a href="{{ path('checkout_edit')}}" class="btn btn-fill-out mt-1">Changer l'adresse</a>  
                        </div>
                    </div>
                    <div class="heading_s1">
                        <h4>Votre transporteur</h4>
                            <div class="content" id="carrier">
                              {{ transport  | replace({'[spr]' : '<br>'}) | raw }}
                             <a href="{{ path('checkout_edit')}}" class="btn btn-fill-out mt-1">Changer de transporteur</a>
                            </div>
                    </div> #}
                      {# {% if informations %}
                    <div class="heading_s1">
                        <h4>Please, Verify Additional information</h4>
                        <div class="form-group mb-0" id="informations">
                            {{ informations }}
                        </div>
                    </div>
                {% endif %}        #}
                </div>
                <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Votre commande</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for element in cart.products %}
                                    <tr>
                                        <td> {{ element.product.NOM  }} <span class="product-qty">x {{ element.quantity }}</span></td>
                                        <td>€ {{ element.product.Prix  }}</td>
                                    </tr>
                                    {% endfor %}
 
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SousTotal HT</th>
                                    <td class="product-subtotal">€ {{ cart.data.subTotalHT }}</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal">€ {{ cart.data.Taxe }}</td>
                                </tr>
                                {# <tr>
                                    <th>Frais Transport ( {{transport.nameTransport}})</th>
                                    <td class="product-subtotal">€ {{ transport.price/100 }}</td>
                                </tr> #}
                                <tr>
                                    <th>Total TTC</th>
                                    <td class="product-subtotal">€ {{ cart.data.subTotalTTC  }}</td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Paiement</h4>
                        </div>
                      
                       <a href="{{ path("stripe") }}" > <button type="submit" id="checkout-button" 
                            class="btn btn-primary">
                            Payer | € {{cart.data.subTotalTTC }}
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

 {# <script type="text/javascript">/*clé public  */
       var stripe = Stripe("{{ apiKeyPublic }}");
       var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
      fetch("/create-checkout-session/{{ reference }}", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
    </script> #}
   {% endblock %}