{% extends 'base.html.twig' %}


{% block content %}
<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Ajouter un Produit</h6>
                           
                            {{form_start(formProduit,{attr: {novalidate: 'novalidate'}})}} 
                                <div class="mb-3">
                                    <label  class="form-label">NOM</label>
                                    {{form_widget(formProduit.NOM ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(formProduit.NOM ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label  class="form-label">TYPE</label>
                                    {{form_widget(formProduit.TYPE ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(formProduit.TYPE ,{'attr':{class: 'text-danger'}})}}
                                    
                                </div>

                                

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Description</label>
                                    {{form_widget(formProduit.DESCP ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(formProduit.DESCP ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">QuantiteR</label>
                                    {{form_widget(formProduit.quantiteR ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(formProduit.quantiteR ,{'attr':{class: 'text-danger'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Prix</label>
                                    {{form_widget(formProduit.Prix ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(formProduit.Prix ,{'attr':{class: 'text-danger'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Quantite </label>
                                    {{form_widget(formProduit.quantite ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(formProduit.quantite ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Categorie </label>
                                    {{form_widget(formProduit.Categorie ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="formFile" class="form-label">IMAGE</label>
                                    {{form_widget(formProduit.IMAGE ,{'attr':{ type: 'file', class: 'form-control'}})}}
                                </div>

                              
                                
                                <br>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            {{form_end(formProduit) }} 
                        </div>
                    </div>
                    
                    <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-1">Ajouter Categorie</h6>
                           {{form_start(formCategorie,{attr: {novalidate: 'novalidate'}})}} 
                                <div class="mb-3">
                                    <label  class="form-label">NOM</label>
                                    {{form_widget(formCategorie.NOM ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(formCategorie.NOM ,{'attr':{class: 'text-danger'}})}}
                                </div>

                               

                              
                                
                                <br>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            {{form_end(formCategorie) }} 
                           
                        </div>
                    
                    
                </div>
            </div>

                        
                   

{% endblock %}
