{% extends 'base.html.twig' %}


    {% block content %}




            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Ajouter un Stock</h6>
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success" > 
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {{form_start(form) }} 
                                <div class="mb-3">
                                    <label  class="form-label" >Nom du Stock</label>
                                    {{form_widget(form.noms ,{'attr':{class: 'form-control'}})}}
                                    {{form_errors(form.noms  ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label  class="form-label">Réference du Stock</label>
                                    {{form_widget(form.refs ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(form.refs  ,{'attr':{class: 'text-danger'}})}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label" >Catégorie du Stock</label>
                                {{form_widget(form.categories ,{'attr':{class: 'form-control'}})}}
                                 
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Quantité du Stock</label>
                                    {{form_widget(form.qtes ,{'attr':{class: 'form-control'}})}}
                                     {{form_errors(form.qtes  ,{'attr':{class: 'text-danger'}})}}
                                </div>

                              

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Partenaire</label>
                                    {{form_widget(form.partenaire ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <br>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            {{form_end(form) }} 
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>

    {% endblock %}


